* {
    box-sizing: border-box;
  }

body {
    background-image: url(img/world1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

.txt1 {
    text-align: left;
    color: white;
    margin-left: 200px;
}

.txt2 {
    text-align: left;
    color: white;
    margin-left: 900px;
}

.email-name {
    text-align: center;

}
.email-name .name {
    color: white;
}

.suggestion {
    background-color: rgb(36, 30, 30);
    margin-right:  850px;
    margin-left:400px;
}

.suggestion .suggestiontext {
    color: white
    text-align: center;
}
